.noteCard {
    postion: relative;
}

.noteCard::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 8px;
    width: 4px;
    height:  82%;
    background: #DA1BF9;
    border-radius: 8px; 
} 