:root {}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* @font-face {
      font-family: Matter;
      src: url("../fonts/matter/Matter-Light.ttf");
      font-weight: 300;
    } */
}

@import "./main.css";