/* Sidebar */
#sidebar {
  transition: width ease-in-out 200ms;
}

#sidebar.menuClose {
  width: 6rem !important;
}

#sidebar a span.menu-title {
  animation: fadeIn ease-in-out 300ms 200ms both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-4px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

#sidebar a {
  transition: all ease-in-out 200ms;
}

#sidebar a:hover {
  color: var(--color-primary);
}

#sidebar a svg {
  filter: none;
  transition: filter ease-in-out 200ms;
}

#sidebar a:hover svg {
  filter: invert(17%) sepia(94%) saturate(5223%) hue-rotate(219deg)
    brightness(90%) contrast(96%);
}

.sidebar-active svg {
  filter: invert(17%) sepia(94%) saturate(5223%) hue-rotate(219deg)
    brightness(90%) contrast(96%) !important;
}

/* Status */
.status-green {
  background: #e0ffe3;
  border: 2px solid #16f62c;
  color: #16f62c;
}

.status-blue {
  background: #e3edff;
  border: 2px solid #054cd6;
  color: #054cd6;
}

.status-red {
  background: #ffdfdc;
  border: 2px solid #f92f1b;
  color: #f92f1b;
}

.status-yellow {
  background: #fff1cf;
  border: 2px solid #f9c81b;
  color: #f9c81b;
}

/* Calendar */
.customCalendar {
  position: relative;
}

.customCalendar .css-cwhad8-MuiDateCalendar-root {
  width: 100% !important;
}

.customCalendar .css-i5q14k-MuiDayCalendar-header {
  display: flex;
  justify-content: space-between;
}

.customCalendar .css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #888f99;
  width: 14.28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customCalendar
  .css-1cafy48-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
  min-height: 50rem;
}

.customCalendar .css-flbe84-MuiDayCalendar-weekContainer {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.customCalendar .css-1c32n2y-MuiBadge-root {
  width: 14.28%;
  height: 6rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
