/* Sidebar */
#sidebar {
  transition: width ease-in-out 200ms;
}

#sidebar.menuClose {
  width: 6rem !important;
}

#sidebar a span.menu-title {
  animation: fadeIn ease-in-out 300ms 200ms both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-4px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

#sidebar a {
  transition: all ease-in-out 200ms;
}

#sidebar a:hover {
  color: var(--color-primary);
}

#sidebar a svg {
    filter: none;
    transition: filter ease-in-out 200ms;
}

#sidebar a:hover svg {
    filter: invert(17%) sepia(94%) saturate(5223%) hue-rotate(219deg) brightness(90%) contrast(96%);
}
